@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');

body {
  --bs-body-font-family: 'Libre Baskerville', serif;

  font-weight: 400;
}

@media (prefers-reduced-motion) {
  &,
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
