.overlay {
  background-color: #efefef;
  inset: 0;
  position: fixed;
  opacity: 0.8;

  @media (prefers-color-scheme: dark) {
    background-color: #111;
  }
}

.modal {
  background: var(--background);
  border-radius: 3px;
  inset: 1rem;
  box-shadow: 0 2px 6px rgb(0 0 0 / 40%);
  box-sizing: border-box;
  height: fit-content;
  overflow-y: auto;
  padding: 1rem;
  position: fixed;

  @media screen and (width >= 34em) {
    left: 50%;
    max-height: calc(100vh - 2rem);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32rem;
  }
}

.closeButton {
  appearance: none;
  background: transparent;
  border: none;
  color: var(--text);
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
