import { render } from '@testing-library/preact';
import { h } from 'preact';

import %%PRIMARY_IMPORT%% from '%%FILENAME%%';

describe('%%FILENAME%%', () => {
  it('renders without exploding', () => {
    const { container } = render(<%%PRIMARY_IMPORT%% />);

    expect(container).not.toBeEmptyDOMElement();
  });
});
