.nav {
  align-items: center;
  background: var(--background);
  border-bottom: 1px solid var(--text);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: -1rem -1rem 1rem -1rem;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  width: auto;
  z-index: 200;
}
