.options {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-family: sans-serif;
  overflow-x: auto;

  & > * {
    margin-right: 0.5rem;
  }

  & input[type='search'] {
    border: 1px solid var(--text);
    border-radius: 3px;
    outline: none;
    padding: 0.25rem;

    &:focus {
      box-shadow: 0 0 6px rgb(127 127 127 / 40%);
    }
  }
}
